<h1>Mission</h1>
<p>Dear our valued customers and guests,</p>
<p>We, Sanjana and Sanjay would like to thank you for your continuous supports for our love.</p>
<p>We are here to invite you to join our warm and cozy wedding.</p>
<p>Venue: the bridge connecting ICT building to CSIM building (Without it, we wouldn't meet each other)</p>
<p>Date: 11th May 2016</p>
<p>Time: 6pm - 11pm</p>
<p>Theme: Academic life (Dress like a professor or a textbook)</p>
<p>Catering: Vegeterian only. You may bring and cook you own meet in the wedding</p>
