<h1>Our goals</h1>


<p>Doing business is not only to make profits. At Gourmet supermarket, social responsibility is one of our top priorities.</p>
<p>With her strong passion and enthusiasm in making world a better place, our CEO is looking forward to make good relationships with people around the world.  </p>
<p>According to our CEO's vision, our supermarket is going to do CSR in India in 2016.</p>
<p>Her relationship with a local person has brought India the most generous and prosperous supports in its society.</p>
<p>Within a year, at least two parts of India will be integrated. Their atmospheres will be filled with peace and love.</p>
<p>Happiness will spread all over the countries we are doing CSR, and finally all over the world.</p>

<p>May happiness, love and peace be with you,</p>
<p>Gourmet supermarket</p>